body {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    background-color: #794028;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 200px;
    margin-bottom: 30px;
    margin-top: 0;
    padding-right: 525px;
}

.navlinks {
    display: flex;
    justify-content: right;
    gap: 24px;
    margin-top: 0;
    padding: 16px;
    margin-right: 100px;
}

a {
    font-size: 18px;
    color: #EFC3A4;
    text-decoration: none;
}

.headerbody {
    background-color: #794028;
    height: 450px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.leftbody {
    margin-top: 20px;
    margin-left: 200px;
    flex-wrap: wrap;
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.leftbody p {
    font-size: 18px;
    color: #EFC3A4;
}

.button {
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border: 0;
    color:  #0E0504;
    background-color: #EFC3A4;
}

.bodyimg, .navlinks {
    display: flex;
    align-items: center;
}

.bodyimg {
    height: 230px;
    width: 500px;
    margin-top: 30px;
    margin-right: 100px;
    border-radius: 12px;
}

.midbody {
    background-color: white;
    height: 500px;
}

.text1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #0E0504;
    margin-top: 10px;
}

.items p {
    flex-wrap: wrap;
    color: #4B1F0E;
    font-size: 18px;
    width: 200px;
}

.items {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 20px;
}

.itemimg {
    border: solid #0E0504 4px;
    border-radius: 12px;
    height: 170px;
    width: 170px;
}

.quotebody {
    display: flex;
    background-color: #EFC3A4;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.container3 p {
    font-size: 36px;
    font-style: italic;
    flex-wrap: wrap;
    width: 900px;
}

.newsletter {
    background-color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2 {
    background-color: #BE7656;
    color: #0E0504;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 20px;
    padding-left: 100px;
    height: 150px;
    width: 900px;
}

.text2 h2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    width: 750px;
}

.text2 p {
    font-size: 18px;
    width: 750px;
}

.buttonlast {
    display: flex;
    background-color: #BE7656;
    height: 150px;
    align-items: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 20px;
    padding-right: 100px;
}

.button2 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border: 0;
    color:  #EFC3A4;
    background-color: #0E0504;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0E0504;
    color: white;
}

footer p {
    font-size: 18px;
}